/***********  BASE STYLES  ***************/
/** {
	box-sizing: border-box;
}*/

body {
	font-family: sans-serif;
	line-height: 1.6;
	color: 000;  //#3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
	text-align: center;
}
h2
h3
a
/* ------- WRAPPER ------- */
.wrapper {
	background-color: lightgrey;
	width: 70%;
	margin: 0 auto;
}

/* ------- FONTS ------- */


/* ------- COLORS ------- */


/***********  NAVIGATION  ***************/



/***********  HEADER  ***************/



/***********  FOOTER  ***************/



/***********  SECTIONS  ***************/



/***********  PAGE: HOME  ***************/



/***********  PAGE: ONE  ***************/



/***********  PAGE: TWO  ***************/



/***********  PAGE: THREE  ***************/



/***********  PAGE: FOUR  ***************/



/***********  MEDIA QUERIES  ***************/






