
<div class="col-sm-8">
					<!-- first row for grids 1-3 -->
					<div class = "row grid">
{{#each this}}

    {{!-- <section class="col-sm-4" id="grid--{{@index}}"> --}}

           <section class="col-xs-4" id="grid{{id}}">
     
       {{name}}
           

    </section>  


{{/each}}
</div>
