
{{!-- <div class="col-sm-8"> --}}
					{{!-- <!-- first row for grids 1-3 -->
					<div class = "row grid">
{{#each this}}

    

 <section class="col-xs-4 row-height" id="grid{{id}}">
     
        <h3> {{name}} </h3>
        <p>{{description}}</p>  
 </section>      


{{/each}}
</div> --}}
